<!DOCTYPE html>
<html lang="en">
    <%- include('./prtials/head.ejs')%>

<body>
    <h1>title: <%= title %></h1>

    <%- include('./prtials/nav.ejs')%>



<div class="details content">
    <h2> <%= blog.title %></h2>
<div class="content">
    <p> <%= blog.body %></p>
</div>


</div>


</body>
</html>